@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  margin: 0 5vw;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#topDiv {
  height: 25vh;
}

.mapElement {
  height: 70vh;
  text-align: center;
}

.toolbarBtn {
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f6f6f6;
  outline: none;
}

.toolbarSpan {
  padding: 5px 0;
}

.leaflet-control-attribution {
  font-size: 8px !important;
}